<?xml version="1.0"?>
<!--
/**
 * Comment for file
 *
 * @category	Webinse
 * @package 	Webinse_ApiExtended
 * @author  	Webinse Team <info@webinse.com>
 * @copyright   2017 Webinse Ltd. (https://www.webinse.com)
 * @license 	http://opensource.org/licenses/OSL-3.0 The Open Software License 3.0
 */
-->
<config>
    <modules>
        <Webinse_ApiExtended>
            <version>0.1.0</version>
        </Webinse_ApiExtended>
    </modules>
    <global>
        <models>
            <webinse_apiextended>
                <class>Webinse_ApiExtended_Model</class>
            </webinse_apiextended>
        </models>
        <helpers>
            <webinse_apiextended>
                <class>Webinse_ApiExtended_Helper</class>
            </webinse_apiextended>
        </helpers>
    </global>
</config>
