<?xml version="1.0"?>
<!--
/**
 * Main config of module
 *
 * @category    Webinse
 * @package     Webinse_Faq2
 * @author      Webinse Team <info@webinse.com>
 * @copyright   2017 Webinse Ltd. (https://www.webinse.com)
 * @license     http://opensource.org/licenses/OSL-3.0 The Open Software License 3.0
 */
-->
<config>
    <modules>
        <Webinse_Faq2>
            <version>0.1.0</version>
        </Webinse_Faq2>
    </modules>
    <global>
        <models>
            <webinse_faq2>
                <class>Webinse_Faq2_Model</class>
                <resourceModel>webinse_faq2_resource</resourceModel>
            </webinse_faq2>
            <webinse_faq2_resource>
                <class>Webinse_Faq2_Model_Resource</class>
                <entities>
                    <faq>
                        <table>webinse_faq2</table>
                    </faq>
                </entities>
            </webinse_faq2_resource>
        </models>
    </global>
    <frontend>
        <routers>
            <webinse_faq2>
                <use>standard</use>
                <args>
                    <module>Webinse_Faq2</module>
                    <frontName>frontName</frontName>
                </args>
            </webinse_faq2>
        </routers>
    </frontend>
</config>